.hero {
  padding: 3rem 0;
}

.heroContent {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  z-index: -1;
}

.heroImg {
  width: 200px;
  height: 300px;
}

.top {
  grid-column: 1 / span 8;
  grid-row: 1 / span 8;
}

.bottom {
  grid-column: 4 / -1;
  grid-row: 4 / -1;
  z-index: 1;
}

.heroSection {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.heroTitle {
  font-size: 4rem;
  color: var(--gray-light);
}

@media screen and (min-width: 40rem) {
  .heroImg {
    width: 400px;
    height: 600px;
  }
}
