.heroSec {
  width: 80%;
  margin: 0 auto;
  padding: 6rem 0;
  position: relative;
  max-width: 30rem;
}

.header {
  font-size: 4rem;
  position: absolute;
  right: 0;
  top: calc(50% + 2rem);
  z-index: 1;
  color: var(--gray-medium);
}

.teamImg {
  width: 60%;
  height: auto;
  position: relative;
}
