.footer {
  color: var(--white);
  background-color: var(--avenues-pink);
}

.footerSection {
  width: 80%;
  margin: 0 auto;
}

.socialSection {
  padding: 3rem 0;
}

.socialLink {
  display: inline;
}

.bottomText {
  padding-bottom: 3rem;
  opacity: 0.6;
}
