/* theme colors for now */
:root {
  --avenues-pink: #EB4C60;
  --avenues-pink-sec: rgba(235, 76, 96, 0.7);
  --avenues-navy: rgba(52, 80, 117, 0.5);

  --gray-strong: #222222;
  --gray-medium: #666666;
  --gray-light: #AAAAAA;

  --white: #FFFFEE;
}

/*
TODO: create dark color theme
this media query only applies on system dark theme

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--raleway-font);
}

body {
  position: relative;
  background: url("/images/bg-blend.png"), #FFFFFF;
  background-blend-mode: overlay, normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--poppins-font);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--avenues-pink);
}

button {
  color: var(--white);
  background-color: var(--avenues-pink);
  padding: .5rem 1rem;
  border: var(--gray-light);
  border-radius: 1rem;
}

button:hover {
  background-color: var(--avenues-navy);
  cursor: pointer;
}