:root {
  --avenues-pink: #eb4c60;
  --avenues-pink-sec: rgba(235, 76, 96, 0.7);
  --avenues-navy: #345075;

  --gray-strong: #222222;
  --gray-medium: #666666;
  --gray-light: #aaaaaa;

  --white: #ffffee;

  --font-size: 16px;
}

/*
TODO: create dark color theme
this media query only applies on system dark theme

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--raleway-font);
  font-size: var(--font-size);
}

/* bro you have no clue how long I spent just trying to figure out how this background shit worked */
/*
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg-blend.png"), url("/images/paper-tex.png");
  background-blend-mode: overlay;
  background-size: cover;
  opacity: 0.15;
  pointer-events: none;
}
*/

main {
  width: 80%;
  margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins-font);
}

a {
  color: inherit;
}

a:hover {
  color: var(--avenues-pink);
}

button {
  color: var(--white);
  background-color: var(--avenues-pink);
  padding: 0.5rem 1rem;
  border: var(--gray-light);
  border-radius: 1rem;
}

button:hover {
  background-color: var(--avenues-navy);
  cursor: pointer;
}

.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-title {
  font-size: 58px;
}

.not-found-error {
  color: var(--avenues-pink);
}

@media screen and (min-width: 40rem) {
  :root {
    --font-size: 18px;
  }

  main {
    width: 70%;
    margin: 0 auto;
  }
}
