.heroSection {
  padding: 3rem 0;
}

.subText {
  color: var(--avenues-pink-sec);
  padding: 0.5rem 0;
}

.headingText {
  line-height: 2.2rem;
  width: 100%;
}

.descText {
  font-size: 20px;
  padding: 1rem 0;
}

.boxedText {
  background-color: var(--avenues-navy);
  color: var(--white);
  padding: 0 .2rem;
}

@media screen and (min-width: 40rem) {
  .headingText {
    width: 70%;
  }

  .descText {
    font-size: 24px;
  }
}
