.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuLinks {
  display: flex;
}

.linkItem {
  padding: 1rem;
}

.applyButton {
  margin: 1rem;
}

.applyLink, .link {
  text-decoration: none;
}

.applyLink:hover {
  color: inherit;
}

@media screen and (min-width: 40rem) {
  .navbar {
    width: 70%;
    margin: 0 auto;
  }
}