.content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
  max-width: 50rem;
}

.text {
  width: 80%;
}

.bold {
  font-weight: 500;
}

.teamTitle {
  color: var(--gray-lightest);
  margin: 1rem 0;
}

.teamList {
  padding: 2rem 0;
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  color: var(--dark-bg-col);
  text-align: center;
  border-radius: 8rem;
  background-color: var(--avenues-sec-bg);
}

.teamList h3 {
  color: var(--gray-lightest);
  font-size: 1.1rem;
}

.teamMems {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.memberImg {
  border: var(--gray-light);
  width: 124px;
  height: 124px;
}

.memberInfo {
  width: 124px;
}

.memberName {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}

@media screen and (min-width: 22rem) {
  .teamMems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 40rem) {
  .teamMems {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 55rem) {
  .memberImg {
    width: 174px;
    height: 174px;
  }

  .memberInfo {
    width: 174px;
  }
}

@media screen and (min-width: 65rem) {
  .memberImg {
    width: 224px;
    height: 224px;
  }

  .memberInfo {
    width: 224px;
  }
}

@media screen and (min-width: 86rem) {
  .teamMems {
    grid-template-columns: repeat(4, 1fr);
  }
}
