.heroSec {
  padding-top: 4rem;
  padding-bottom: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  width: 90%;
}

.heroTitle {
  font-weight: 900;
  font-size: 2.4rem;
}

.caption {
  font-size: 1.2rem;
  margin-top: 1rem;
  opacity: 0.6;
}

@media screen and (min-width: 55rem) {
  .heroTitle {
    font-size: 3.8rem;
  }
}
