.cardsSec {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 2rem 0;
}

.card {
  min-width: 80%;
  margin-bottom: 2rem;
}

.cardsSec > div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

@media screen and (min-width: 40rem) {
  .card {
    max-width: 20rem;
    min-width: unset;
    margin-bottom: unset;
  }
}

@media screen and (min-width: 50rem) {
  .card:nth-child(1),
  .card:nth-child(2),
  .card:nth-child(3) {
    margin-left: 1rem;
  }

  .card:nth-child(even) {
    margin-top: 3rem;
  }

  .card:nth-child(odd) {
    margin-bottom: 3rem;
  }
}
