.footer {
  color: var(--dark-bg-col);
  background-color: var(--avenues-sec-bg);
}

.footerSection {
  max-width: 50rem;
  margin: 0 auto;
}

.socialSection {
  padding: 2rem 0;
}

.socialLink {
  display: inline;
}

.bottomText {
  padding-bottom: 3rem;
  opacity: 0.6;
}
