:root {
  --avenues-theme: #c193c5;
  --avenues-sec: #7bc6cc;
  --avenues-sec-bg: #244042;
  --avenues-dark: #083134;
  --dark-bg-col: #b2c4d5;
  --gray-lightest: #f2f2f2;
  --gray-light: #a2a2a2;
  --gray-dark: #4d4d4d;
}

/*
TODO: create dark color theme
this media query only applies on system dark theme

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/

/* global resets */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
}

/* general */

html {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  font-family: var(--sora-font);
}

p {
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  padding-bottom: 1.4rem;
  font-weight: 500;
  color: var(--avenues-dark);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

a {
  color: inherit;
}

button {
  font-size: 0.9rem;
  outline: none;
  border: none;
  background-color: var(--avenues-dark);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  transition: background-color 0.1s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: var(--avenues-sec);
}

@media screen and (min-width: 65rem) {
  html {
    font-size: 18px;
  }
}

/* cards */

.card {
  background-color: var(--gray-lightest);
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(25, 12, 12, 0.1);
}

.cardContent {
  padding: 1rem;
}

.card img {
  width: 100%;
  height: auto;
}
