.navbarWrapper {
  background: linear-gradient(var(--gray-light), white, white, white);
}

.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
}

.logoSec {
  display: block;
  align-self: center;
}

.logoImg {
  width: 3.5rem;
  height: auto;
}

.navLinksSec {
  position: relative;
  width: 3rem;
  cursor: pointer;
}

.line:nth-child(1) {
  top: calc(50% - 7px);
}

.line:nth-child(2) {
  top: calc(50% - 1px);
}

.line:nth-child(3) {
  top: calc(50% + 5px);
}

.line {
  height: 1px;
  background-color: var(--avenues-dark);
  position: absolute;
  display: block;
  width: 18px;
  left: calc(50% - 9px);
}

@media screen and (min-width: 55rem) {
  .navLinksSec {
    width: auto;
    position: inherit;
    cursor: auto;
  }

  .navLink {
    margin-left: 1rem;
    text-decoration: none;
    transition: opacity 0.1s ease-in;
  }

  .navLink:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 86rem) {
  .navbar {
    width: 96%;
  }
}
