.navbarWrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: -4rem;
  height: 4rem;
  transform: translateY(100%);
  background-color: hsla(0, 0%, 100%, .9);
}

.navbar {
  margin: 0 auto;
  padding: 1rem;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
}

.logoSec {
  display: block;
  align-self: center;
}

.logoImg {
  width: 3.5rem;
  height: auto;
}

.navLinksSec {
  position: relative;
  width: 3rem;
  cursor: pointer;
}

.navLink {
  font-size: .8rem;
}

.navLink button {
  font-size: .8rem;
}

.navLink button:hover {
  opacity: .8;
  background-color: var(--avenues-dark);
}

.line:nth-child(1) {
  top: calc(50% - 7px);
}

.line:nth-child(2) {
  top: calc(50% - 1px);
}

.line:nth-child(3) {
  top: calc(50% + 5px);
}

.line {
  height: 1px;
  background-color: var(--avenues-dark);
  position: absolute;
  display: block;
  width: 18px;
  left: calc(50% - 9px);
}

@media screen and (min-width: 55rem) {
  .navLinksSec {
    width: auto;
    position: inherit;
    cursor: auto;
  }

  .navLink {
    margin-left: 1rem;
    text-decoration: none;
    transition: opacity 0.1s ease-in;
  }

  .navLink:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 86rem) {
  .navbar {
    width: 100%;
  }
}
