.navbarWrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: -4rem;
  height: 4rem;
  transform: translateY(100%);
  background-color: hsla(0, 0%, 93%, 0.9);
  border-bottom: 1px solid var(--gray-light);
}

.navbar {
  margin: 0 auto;
  padding: 1rem;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
}

.logoSec {
  display: block;
  align-self: center;
}

.logoImg {
  width: 3.5rem;
  height: auto;
}

.navLinksSecMob {
  position: relative;
  width: 3rem;
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: var(--gray-lightest);
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(25, 12, 12, 0.1);
  left: 0;
  padding: 1rem 0;
  top: 4rem;
  opacity: 0.9;
}

.menu a {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  padding-left: 1rem;
}

.navLinksSec {
  display: none;
}

.navLink button {
  font-size: 0.8rem;
}

.navLink button:hover {
  opacity: 0.8;
  background-color: var(--avenues-dark);
}

.line:nth-child(1) {
  top: calc(50% - 7px);
}

.line:nth-child(2) {
  top: calc(50% - 1px);
}

.line:nth-child(3) {
  top: calc(50% + 5px);
}

.line {
  height: 1px;
  background-color: var(--avenues-dark);
  position: absolute;
  display: block;
  width: 18px;
  left: calc(50% - 9px);
}

.navLink {
  margin-left: 1rem;
  text-decoration: none;
  transition: opacity 0.1s ease-in;
  font-size: 0.8rem;
}

.navLink:hover {
  opacity: 0.6;
}

@media screen and (min-width: 55rem) {
  .navLinksSecMob {
    display: none;
  }

  .navLinksSec {
    display: initial;
  }

  .menu {
    display: none;
  }
}
