.wrapper {
  padding: 10rem 0 10rem 0;
}

.test {
  width: 80%;
  margin: 0 auto;
}

.test > * {
  margin: 3rem 0;
}

.normal {
  font-weight: 300;
}

.light {
  font-weight: 200;
}

.bg {
  padding: 3rem 0;
  background-color: var(--avenues-sec-bg);
}

.lighter {
  width: 80%;
  margin: 0 auto;
  color: var(--dark-bg-col);
}

.card {
  width: 80%;
  margin: 0 auto;
}

.onDark {
  display: block;
  margin: 1rem 0;
}

.bolder {
  font-weight: 500;
}

.bold {
  font-weight: 900;
}

.biology {
  font-size: 56px;
  display: block;
}

.biology > h1 {
  font-size: 44px;
  font-weight: 600;
}

.biology > span > p {
  font-size: 20px;
  padding: 1rem 0;
  opacity: 0.6;
}

.gradImg {
  margin: 6rem 0;
  position: relative;
}

.img1 {
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 1;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(25, 12, 12, 0.1);
}

.img2 {
  position: relative;
  margin-top: 4rem;
  width: 90%;
  height: auto;
  top: 10%;
  left: 10%;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(25, 12, 12, 0.1);
}
