.welcomeMessage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

.welcomeSection {
  padding: 1rem 0;
}

.welcomeImgPiece,
.welcomeTextPiece {
  display: inline;
  padding: 1rem;
}

.welcomeImgPiece > *,
.welcomeTextPiece > * {
  vertical-align: middle;
}

.welcomeTextPiece {
  font-weight: 700;
  font-size: 50px;
  font-family: var(--cor-garamond-font);
}

.welcomeImgPiece > * {
  border: var(--gray-light);
  border-radius: 1rem;
}
