.whatContent {
  padding: 1rem 0;
}

.cohortTitle {
  opacity: 0.4;
}

.cohortSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cohortPart {
  font-family: var(--cor-garamond-font);
  font-size: 34px;
  padding-left: 1rem;
}

.cohortNum {
  opacity: 0.6;
}

.cohortPartLink {
  text-decoration: none;
}

.cohortPartLink:hover {
  transition: ease-in 0.25s;
}

.groupSection {
  padding: 1rem 0;
}

.groupName {
  background-color: var(--avenues-navy);
  color: var(--white);
  padding: 0 0.2rem;
}

@media screen and (min-width: 40rem) {
  .cohortPart {
    font-size: 58px;
  }

  .cohortTitle {
    font-size: 24px;
  }
}
